{% extends "base_admin.html.twig" %}

{% block title %}

    {% if editmode %}
        BlogSymfony | Modifier catégorie
    {% else %}
        BlogSymfony | Nouvelle Catégory
    {% endif %}

{% endblock %}

{% block body %}

    {% if editmode %}
        <h1 class="text-center my-5">Modification d'une nouvel catégorie</h1> 
    {% else %}
        <h1 class="text-center my-5">Ajout d'une nouvel catégorie</h1> 
    {% endif %}

    <div class="col-8 mx-auto">
    {{ form_start(formAdminCat) }}

        {{ form_row(formAdminCat.titre) }}

        {{ form_row(formAdminCat.description) }} 

        <div class="text-center">
            <button type="submit" class="btn btn-primary col-3"> 
                {% if editmode %}
                    Modifier
                {% else %}
                    Enrigistrer
                {% endif %}
            </button>
        </div>
    {{ form_end(formAdminCat) }}
</div>  
    
{% endblock %}